* {
    margin: 0;
    padding: 0;
    border: none;
}

hr {
    margin-top: 10px;
    border-bottom: 1px solid #383838;
}

h2 {
    margin-top: 10px;
}


/* Header styling */

header {
    background-color: #383838;
    position: hidden;
    width: 100%;
}

header a {
    color: white;
}


/* Logo and navigation styling */

#navigation {
    height: 25px;
    padding: 10px;
    text-align: center;
    background-color: #292929;
    display: block;
}

#navigation li {
    display: inline;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 2px solid white;
}

#logo {
    padding: 10px;
    display: block;
}

.active {
    border-bottom: 2px solid white;
}


/* Welcome section */

#welcome {
    width: 50%;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#welcome p {
    margin-top: 10px;
}


/* Footer styling */

footer {
    background-color: #383838;
    width: 100%;
}

footer a {
    color: white;
    font-size: 150%;
    margin-right: 20px;
}

footer div {
    text-align: center;
    margin-top: 10px;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* media queries */

@media screen and (max-width: 2560px) {
    body {
        font-size: 150%;
    }

    #welcome {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 100%;
    }

    #welcome {
        width: 50%;
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 100%;
    }

    #welcome {
        width: 95%;
        font-size: 100%;
    }
}