* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header styling */

header {
    background-color: #383838;
    height: 90px;
}

header a {
    color: white;
}

/* Logo and navigation styling */

#navigation {
    list-style-type: none;
    text-decoration: none;
    float: right;
    margin-top: 5px;
}

#navigation li {
    display: inline;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
}

#logo {
    float: left;
    margin: 10px 0 0 10px;
    width: 100%;
}