@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin-top: 10px;
    border-bottom: 1px solid #383838;
}

h1 {
    font-size: 185%;
}

h2 {
    margin-top: 20px;
}


/* Header styling */

header {
    background-color: #383838;
    position: hidden;
    width: 100%;
}

header a {
    color: white;
}


/* Logo and navigation styling */

#navigation {
    height: 25px;
    padding: 10px;
    text-align: center;
    background-color: #292929;
    display: block;
}

#navigation li {
    display: inline;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 2px solid white;
}

#logo {
    padding: 10px;
    display: block;
}

.active {
    border-bottom: 2px solid white;
}


/* Title section section styling */

#title-section {
    width: 50%;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title-section p {
    margin-top: 10px;
}


/* Recently reviewed section styling */

#recent-reviews {
    text-align: center;
}

/* review box styling */

.review-box {
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.review-box h3 {
    margin-top: 10px;
}

.review-box p {
    display: inline;
    width: 50%;
}

.review-box img {
    display: inline;
}


/* Footer styling */

footer {
    background-color: #383838;
    width: 100%;
}

footer a {
    color: white;
    font-size: 150%;
    margin-right: 20px;
}

footer div {
    text-align: center;
    margin-top: 10px;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 10px;
}


/* media queries */

@media screen and (max-width: 2560px) {
    body {
        font-size: 150%;
    }

    #title-section {
        width: 50%;
    }

    /* .review-box {
        width: 95%;
    } */
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 100%;
    }

    #title-section {
        width: 50%;
    }

    /* .review-box {
        width: 50%;
    } */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 100%;
    }

    #title-section {
        width: 95%;
        font-size: 100%;
    }

    /* .review-box {
        width: 95%;
    } */
}